# Database
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE

# Supabase (optional)
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# Clerk
CLERK_FRONTEND_API=
CLERK_SECRET_KEY=

# OpenAI (server key)
OPENAI_API_KEY=
